{
  "api_key": "Get it from developers.google.com",
  "trucks": [
    {
      "type": "Box Truck",
      "capacity": 135
    },
    {
      "type": "26 Foot Flat Truck",
      "capacity": 315
    }
  ],
  "contact": "123-456-7890 (John Smith)",
  "output_dir": "output",
  "processes": 8,
  "origin": [38.950633, -77.397684]
}